//Tipografia
$fuente_principal: 'Monserrat', sans-serif;
.h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
// Colores
$verde : #55d9c0;
$rosa: #e4007c;
$amarillo: #afbadc;
$morado: #777ca8;
$negro: #000000;
$blanco: #ffffff;

$telefono: 468px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;